@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

$color-1: rgba(#ffffff, 0.6);
$color-2: #f2a365;
$color-3: #2f2f2f;
$color-4: #000000;
$color-5: #121212;

$font-1: 'Roboto Condensed', sans-serif;

$font-2: 'Shadows Into Light', cursive;
